
table{
    border: 1px solid white;
    border-collapse: collapse;
    width: 50%;
    height: 25%;
}
th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
}

.thVariant{
    background-color: cornflowerblue;
}